<!DOCTYPE html>
<html>
<head>
  <title>Ugif</title>
  <%= javascript_include_tag "application.js" %> 
  <%= javascript_include_tag params[:controller] %> 
  <%= stylesheet_link_tag  'application', media: 'all' %>  
  <%= stylesheet_link_tag  params[:controller] %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header>

    <div class="branding">
      <a href="home.html"><img src="/assets/logo.png"></a>
    </div>

    <div class="action-bar">

      <form>
        <label for="query">Search</label>
        <input type="text" name="query">
      </form>
      <% current_user %>
      <% if @current_user %>
      <a href="account.html">Hello, <strong><%= @current_user.username =%>!</strong></a>
      <% else %>
      <a href="signin">Hello, <strong>Guest!</strong></a>
      <% end %>
    </div>

  </header>
  </div>
  
<% if ["gifs"].include?(params[:controller]) %>
<div class="regular-layout container">

  <nav>
    <ul>
      <li><a href="home.html">Recommended</a></li>
      <% if @current_user %>
      <li><a href="account.html">My Account</a></li>
      <li><a href="upload.html">Upload Gif</a></li>
      <li><a href="signout">Sign Out</a></li>
      <% end %>
    </ul>
  </nav>

  <aside>
    <h3>Sponsors</h3>
    <div class="ad">
      <img src="assets/ad.png">
      <p>Lorem ipsum</p>
    </div>
    <div class="ad">
      <img src="assets/ad.png">
      <p>Lorem ipsum</p>
    </div>
  </aside>
<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>
</body>
</html>
