<!DOCTYPE html>
<html>
<head>
  <title>Ugif</title>
  <%= javascript_include_tag "application.js" %> 
  <%= javascript_include_tag params[:controller] %> 
  <%= stylesheet_link_tag  'application', media: 'all' %>  
  <%= stylesheet_link_tag params[:controller] %> 
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <header>

    <div class="branding">
      <a href="/home"><img src="/assets/logo.png"></a>
    </div>

    <div class="action-bar">

      <form action="/search/" method="get" name="query">
        <label for="query">Search</label>
        <input type="text" name="query" required="" value="<%= @query%>">
      </form>
      <% current_user %>
      <% if @current_user %>
      <a href="/account/<%= @current_user.username =%>">Hello, <strong><%= @current_user.username =%>!</strong></a>
      <% else %>
      <a href="/signin">Hello, <strong>Guest!</strong></a>
      <% end %>
    </div>

  </header>
  </div>
  
<% if ["gifs","accounts"].include?(params[:controller]) %>
<div class="regular-layout container">

  <nav>
    <ul>
      <li><a href="/home">Recommended</a></li>
      <% if @current_user %>
      <li><a href="/account/<%= @current_user.username =%>">My Account</a></li>
      <li><a href="/upload">Upload Gif</a></li>
      <li><a href="/signout">Sign Out</a></li>
      <% end %>
    </ul>
  </nav>

  <aside>
    <h3>Sponsored</h3>
    <div class="ad" id="ad1">
    </div>

    <div class="ad" id="ad2">
    </div>
  </aside>
<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>

<script>
document.onload = advertise();
//Loads random advertisments onto the document
function advertise(){
  //Create an array of Ads
  var ads = ["Ad1.png",
           "reallyAnnoyingJordanAd.gif",
           "Ad2.png",
           "Ad3.gif"];
  var adDesc = ["Start your career with one of the leading Multimedia companies in the industry, Creativ AVFX.",
                "If you hate your government, it's not Jordan Powered.",
                "Enjoy the rich aroma of minty coffee - without the insomnia.",
                "Do not fear, the Freelance Project is here."];

  var first, second;

  first = Math.floor(Math.random()*ads.length);

  var found = false;

  while(!found){
    second = Math.floor(Math.random()*ads.length);
    if(first != second)
      found = true;
  }

  console.log(first);
  console.log(second);

  document.getElementById("ad1").innerHTML = "<img src=\"/assets/" + ads[first] + "\"><p>" + adDesc[first] + "</p>";
  document.getElementById("ad2").innerHTML = "<img src=\"/assets/" + ads[second] + "\"><p>" + adDesc[second] + "</p>";
}
</script>

</body>
</html>
