<!DOCTYPE html>
<html>
<head>
  <title>Ugif</title>
  <%= javascript_include_tag "application.js" %> 
  <%= javascript_include_tag params[:controller] %> 
  <%= stylesheet_link_tag  'application', media: 'all' %>  
  <%= stylesheet_link_tag  params[:controller] %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <header>

    <div class="branding">
      <a href="/home"><img src="/assets/logo.png"></a>
    </div>

    <div class="action-bar">

      <form action="/search/" method="get" name="query">
        <label for="query">Search</label>
        <input type="text" name="query" required="" value="<%= @query%>">
      </form>
      <% current_user %>
      <% if @current_user %>
      <a href="/account/<%= @current_user.username =%>">Hello, <strong><%= @current_user.username =%>!</strong></a>
      <% else %>
      <a href="/signin">Hello, <strong>Guest!</strong></a>
      <% end %>
    </div>

  </header>
  </div>
  
<% if ["gifs","accounts"].include?(params[:controller]) %>
<div class="regular-layout container">

  <nav>
    <ul>
      <li><a href="/home">Recommended</a></li>
      <% if @current_user %>
      <li><a href="/account/<%= @current_user.username =%>">My Account</a></li>
      <li><a href="/upload">Upload Gif</a></li>
      <li><a href="/signout">Sign Out</a></li>
      <% end %>
    </ul>
  </nav>

  <aside>
    <h3>Sponsors</h3>
    <div class="ad">
      <img src="/assets/Ad1.png">
      <p>Start your career with one of the leading Multimedia commpanies in the industry, Creativ AVFX.</p>
    </div>
    <div class="ad">
      <img src="/assets/reallyAnnoyingJordanAd.gif">
      <p>If you hate your government, it's not Jordan Powered.</p>
    </div>
  </aside>
<%= yield %>
</div>
<% else %>
<%= yield %>
<% end %>
</body>
</html>
